<body class="container">
<div class="page-header">
    <h1>Simple Auth-System</h1>
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/dnssettings">DNS Settings</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container row">
    <h1>Hi {{username}}, Welcome to your DNS Settings</h1>

    <div class="container row">
        <div class="jumbotron col-lg-5 pull-center">
            <form action="/dnssettings" method="post">
                {{#if passed}}
                    <div class="alert alert-success" role="alert">
                        successfully switched DNS server to {{new_server}}
                    </div>
                {{/if}}

                {{#if failed}}
                    <div class="alert alert-danger" role="alert">
                        Failed to switch to {{new_server}}. Verification failed.
                    </div>

                {{/if}}
                <div>
                    <label>DNS Server:</label>
                    <input type="text" name="dns_addr"/>
                </div>
                <div>
                    <input class="btn btn-primary" type="submit" value="Change"/>
                </div>
                <div>
                    <input type="hidden" name="token" value="{{xsrfForm}}"/>
                </div>
            </form>
            <!--
            <p id="ping-server"></p>
            <ul data-bind="foreach:servers">
                <li> <a href="#" data-bind="text:name,attr:{href: 'http://'+name}">tester</a> <span data-bind="text:status,css:status"></span>

                </li>
            </ul>
            -->
        </div>
    </div>
</div>
</body>
